@page "/RateMateConverter"
@inject ICurrencyServices currencyServices

<PageTitle>Rate Mate</PageTitle>

<div class="container-xxl my-3">
	<div class="converter-card">
        <div class="icon-header">
            @* <div class="icon-circle"> *@
            <img src="/img/RateMate_logo.png" class="img-fluid" />
            @*  </div> *@
        </div>
        <h1 class="title">Rate Mate: A Friendly Currency Converter</h1>
        <p class="subtitle">Your pocket-sized travel buddy for effortless currency conversions.</p>

        <div class="form-group">
            <label>Amount</label>
            <input type="number"
                   @bind="amount"
                   @bind:event="oninput"
                   placeholder="Enter amount"
                   class="form-control"
                   step="0.01"
                   min="0" />
        </div>

        <div class="form-group">
            <label>From</label>
            <select @bind="fromCurrency" class="form-control">
                @foreach (var currency in availableCurrencies)
                {
                    <option value="@currency.Code">@currency.Symbol @currency.Code - @currency.Name</option>
                }
            </select>
        </div>

        <div class="swap-container">
            <button @onclick="SwapCurrencies" class="swap-button" aria-label="Swap currencies">
                🔄
            </button>
        </div>

        <div class="form-group">
            <label>To</label>
            <select @bind="toCurrency" class="form-control">
                @foreach (var currency in availableCurrencies)
                {
                    <option value="@currency.Code">@currency.Symbol @currency.Code - @currency.Name</option>
                }
            </select>
        </div>

	</div>
</div>

@code {
    decimal amount = 100;
    private string fromCurrency = "USD";
    private string toCurrency = "EUR";

    List<Currency> availableCurrencies = new();

    protected override void OnInitialized()
    {
        availableCurrencies = currencyServices.GetAvailableCurrencies();
    }

    private void SwapCurrencies()
    {
        
    }

}
